.popup {
  position: absolute !important;
  padding: 20px;
  text-align: center;
  background-color: var(--bg-color);
  border: white solid 3px;
  border-radius: 20px;
  z-index: 100;
  transition: opacity 0.3s;
}

.popup a {
  text-decoration: underline;
}